.App-Comments{
    border: 1px solid white;
    padding: 10px; 
    font-family: 'Roboto','sans-serif';
}

.userIcon{
    text-align: left;
    font-size: 19px;
}

textarea{
    font-size: 20px;
    background-color: #f7f2ff;
    width: 97%;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 10px;
    margin-right: 20px;
}

::placeholder{
    color: grey;
    font-size: 20px;
}

textarea:focus{
    color: grey;
    outline: none;
}

.comment-btn{
    background-color: #7c21d6;
    width: 110px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    float: left;
    border: none;
    height: 40px;
    margin-top: 10px;
}

.commentsList{
    margin-top: 30px;
    background-color: #f7f2ff;
    padding: 10px;
}

.commentsCount{
    text-align: left;
    display: block;
    color:rgb(117, 116, 116);
    font-size: 19px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}