.App-header {
    background-color: #7c21d6;
    margin-top: -22px;
    /* padding: 10px; */
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: white;
  }
  
.App-header h1{
   padding: 10px;
}

