/* .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchBtn{
    border: none;
    background: #7c21d6;
}
button{
    background: #7c21d6;
}
 */
 

.App-search{
    background: black;
}